<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body style="background-color: bisque;">
    <h2 style="display: flex; justify-content: center; font-weight: 900;">LOG IN</h2>
    <form action="/login" method="post" style="display: flex; justify-content: center;">
        <input type="text" name="name" placeholder="Name" style="padding: 10px 40px; margin: 0px 5px;" >
        <input type="password" name="password" placeholder="Password" style="padding: 10px 40px; margin: 0px 5px">
        <input type="submit" style="background-color: rgb(163, 161, 161); padding: 10px 40px; margin: 0px 5px ">
        <br>
        
    </form>
<a style="display: flex; justify-content: center; font-weight: 900; margin-top: 10px; font-size: 20px; text-decoration: none;" href="/signup">Make New a/c</a>


</body>


</html>